/target
midix/target
.DS_Store
*.sf2
/assets/*.mid
!/assets/Africa.mid
!/assets/21Guns.mid
!/assets/soundfont.sf2
midix_wasm_example/target
!midix_wasm_example/assets/soundfont.sf2
!/assets/8bitsf.sf2
midix_wasm_example/dist
.zed
