/target
bevy_midix/target
midix/target
.DS_Store
*.sf2
bevy_midix/assets/*.mid
!bevy_midix/assets/Africa.mid
!bevy_midix/assets/soundfont.sf2
midix_wasm_example/target
!midix_wasm_example/assets/soundfont.sf2
!bevy_midix/assets/8bitsf.sf2
midix_wasm_example/dist
